body {
  text-align: center;
}

#click {
  margin-left: 600px;
  float: left;
}

#remove {
  float: right;
}

button {
  text-align: right;
}

li {
  list-style: none;
  margin: 10px;
  width: 65%;
}
